.appointments-content {
  padding: 20px;
  background-color: #f4f7f6;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.filter-container label {
  margin-right: 10px;
  font-weight: bold;
  color: #555;
}

.filter-container input[type="date"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.clear-filter-btn {
  padding: 8px 12px;
  background-color: #d32f2f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear-filter-btn:hover {
  background-color: #b71c1c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead th {
  background-color: #1565c0;
  color: white;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.completed {
  color: green;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}

.no-appointments-message {
  text-align: center;
  font-style: italic;
  color: #777;
}

/* Modal Styling */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  margin-left: 180px;
  padding: 10px;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.save-btn,
.cancel-btn {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-btn {
  background-color: #4caf50;
  color: white;
}

.save-btn:hover {
  background-color: #388e3c;
}

.cancel-btn {
  background-color: #d32f2f;
  color: white;
}

.cancel-btn:hover {
  background-color: #b71c1c;
}
